USE [master]
GO
/****** Object:  Database [PersonalData]    Script Date: 04.01.2022 15:39:02 ******/
CREATE DATABASE [PersonalData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonalData', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SERVERLEO\MSSQL\DATA\PersonalData.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PersonalData_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SERVERLEO\MSSQL\DATA\PersonalData_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonalData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonalData]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 04.01.2022 15:39:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPersonal]    Script Date: 04.01.2022 15:39:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPersonal](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Phone] [char](15) NOT NULL,
	[Photo] [nvarchar](1000) NOT NULL,
	[IDStatus] [int] NOT NULL,
 CONSTRAINT [PK_UserPersonal] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserPersonal]  WITH CHECK ADD  CONSTRAINT [FK_UserPersonal_Status] FOREIGN KEY([IDStatus])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[UserPersonal] CHECK CONSTRAINT [FK_UserPersonal_Status]
GO
USE [master]
GO
